@import "./controls.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  font-size: 1rem;
  font-family: "Roboto Mono Variable", sans-serif;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #f5f5f5;
  height: 100vh;
}

svg {
  display: block;
  position: relative;
  z-index: -1;
  padding: 32px 16px 32px 48px;
  width: 100%;
  height: 100%;
}

.axis {
  display: flex;
  position: absolute;
  justify-content: space-between;
}

.axis.x {
  bottom: 0;
  border-top: 1.5px solid #bbb;
  padding: 0 64px;
  width: 100%;
}

.axis.y {
  top: 0;
  left: 0;
  flex-direction: column;
  border-right: 1.5px solid #bbb;
  padding: 64px 0;
  height: 100%;
}

.axis p {
  position: relative;
  width: 48px;
  font-size: 10px;
}

.axis.y p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;

  &::after {
    display: block;
    background-color: #bbb;
    width: 8px;
    height: 1.5px;
    content: "";
  }
}

.axis.x p {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 4px;

  &::after {
    display: block;
    background-color: #bbb;
    width: 1.5px;
    height: 8px;
    content: "";
  }
}

.axis p:first-child {
  position: absolute;
  &::after {
    background-color: transparent;
  }
}

.axis.y p:first-child {
  top: 12px;
}

.axis.x p:first-child {
  right: 12px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  user-select: none;
}

.scroll {
  position: absolute;
  transition: background-color 100ms;
  background-color: #ddd;

  &:hover {
    background-color: #ccc;
  }
}

.scroll.h {
  top: 0;
  right: 16px;
  left: 76px;
  height: 14px;
}

:focus-visible {
  outline: 0;
}

::selection {
  background-color: #0002;
}
